<main>
<h1>Profile Page</h1>
  <p>Login is {{login}}.</p>
  <p>Picture is <img src="{{avatar_url}}" style="width:228px;height:228px;"></p>
  <p>Url is <a href="{{url}}">here</a>.</p>
  <a href="/logout">Logout</a>
</main>
